<!DOCTYPE html>
<html>
    <head>
        <title>Loading...</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" />

        <link rel="stylesheet" href="{{asset('css/pim.css', 'frontend')}}"/>

        {{ external_javascript_dependencies() }}
        <script type="text/javascript" src="{{asset('dist/vendor.min.js', 'frontend')}} "></script>
        <script type="text/javascript" src="{{asset('dist/main.min.js', 'frontend')}} "></script>
    </head>
    <body>
        <div class="app">
            <div class="AknDefault-progressContainer">
                <h3>
                    Loading ...
                </h3>
                <img src="{{ asset('bundles/pimui/images/main-loader.gif') }}"/>
                {% if true == oro_config_value('pim_ui.loading_message_enabled') %}
                <h4 class="AknDefault-progressContainer--loadingMessages">
                    {{ random(oro_config_value('pim_ui.loading_messages')|split('\n')) }}
                </h4>
                {% endif %}
            </div>
        </div>
        <div class="hash-loading-mask"></div>
        <script nonce="3352c80eee760090d48653764533268dc5c46dff">
          jQuery(function($) {
            const observer = new MutationObserver(function(mutations) {
              mutations.forEach(function(mutation) {
                if ($(mutation.target).find('.entity-edit-form .AknSubsection > div').length) {
                  $('.entity-edit-form .AknSubsection > div').addClass('hide');
                  if (!$('.entity-edit-form .AknSubsection > header > .group-label').data('click-handler-attached')) {
                    $('.entity-edit-form .AknSubsection > header > .group-label')
                      .css('cursor', 'pointer')
                      .click((e) => {
                        e.preventDefault();
                        const div = $(e.currentTarget).parent().next();
                        div.toggleClass('hide');
                      });

                    $('.entity-edit-form .AknSubsection > header > .group-label').data('click-handler-attached', true);
                  }

                  observer.disconnect();
                }
              });
            });

            observer.observe(document.body, {
              childList: true,
              subtree: true
            });
          });
        </script>
    </body>
</html>
